:root {
  /* Icon Sizes */
  --icon-size: 1.6em;

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Gap Sizes */
  --gap-2: 0.5rem;
  --gap-4: 1rem;
  --gap-10: 2.5rem;
  --gap-20: 5rem;
  --gap-29: 9rem;
  --gap-48: 12rem;

  /* Margin and Padding */
  --margin-6: 3.5rem;
  --padding-1: 1.5rem;

  /* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

  --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'Public Sans', var(--font-system);
  --font-brand: 'Rubik', var(--font-system);

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;
}

/* Light Mode */
[data-theme='light'] {
  /* Light Theme variables  */

  /* Colors */
  --gray-0: #11131f;
  --gray-200: #3d4663;
  --gray-700: #edf2fe;
  --gray-800: #f7f9ff;
  --gray-900: #fdfdfe;
  --gray-999: #ffffff;
  --gray-999-basis: 0, 0%, 100%;

  --accent-light: #c561f6;
  --accent-regular: #3e63dd;
  --accent-dark: #1c0056;
  --accent-overlay: hsla(226.15, 86.67%, 82.35%, 1);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-999);

  --link-color: var(--accent-regular);

  /* Gradients */
  --gradient-stop-1: var(--accent-light);
  --gradient-stop-2: var(--accent-regular);
  --gradient-stop-3: var(--accent-dark);
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 150%
  );
  --gradient-accent: linear-gradient(
    150deg,
    var(--gradient-stop-1),
    var(--gradient-stop-2),
    var(--gradient-stop-3)
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #3e63dd,
    var(--accent-regular),
    var(--accent-dark)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

  --top-light-background__img: url(https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  /* Shadows */
  --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
    0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
    0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
    0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(9, 11, 17, 0.05),
    0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
    0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
    0px 4px 9px rgba(9, 11, 17, 0.12);

  /* Light Mode */
  /* Background Images */
  --background__img: url(/background-light.png);
}

[data-theme='dark'] {
  --gray-0: #fdfdfe;
  --gray-200: #d2deff;
  --gray-600: #253974;
  --gray-800: #182449;
  --gray-900: #141726;
  --gray-999: #11131f;
  --gray-999-basis: 225, 31%, 5%;

  --accent-light: #1c0056;
  --accent-regular: #3e63dd;
  --accent-dark: #d6e1ff;
  --accent-overlay: hsl(226.1, 55.7%, 38%);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-0);

  --link-color: var(--accent-dark);

  --gradient-stop-1: #4c11c6;
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 81%
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #e1f5fc,
    var(--accent-regular),
    var(--accent-light)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

  --shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01),
    0px 4px 2px rgba(255, 255, 255, 0.01), 0px 2px 2px rgba(255, 255, 255, 0.02),
    0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01),
    0px 16px 10px rgba(255, 255, 255, 0.03),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);

  /* Dark Mode */
  /* Background Images */
  --background__img: url(/background-dark.png);
}
