:root {
  /* Global variables */

  /* Colors */
  --gray-0: #090b11;
  --gray-50: #141925;
  --gray-100: #283044;
  --gray-200: #3d4663;
  --gray-300: #505d84;
  --gray-400: #6474a2;
  --gray-500: #8490b5;
  --gray-600: #a3acc8;
  --gray-700: #c3cadb;
  --gray-800: #e3e6ee;
  --gray-900: #f3f4f7;
  --gray-999-basis: 0, 0%, 100%;
  --gray-999_40: hsla(var(--gray-999-basis), 0.4);
  --gray-999: #ffffff;

  --accent-light: #c561f6;
  --accent-regular: #7611a6;
  --accent-dark: #1c0056;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-999);

  --link-color: var(--accent-regular);

  /* Icon Sizes */
  --icon-size: 1.6em;

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Gap Sizes */
  --gap-2: 0.5rem;
  --gap-4: 1rem;
  --gap-10: 2.5rem;
  --gap-20: 5rem;
  --gap-48: 12rem;

  /* Margin and Padding */
  --margin-6: 3.5rem;
  --padding-1: 1.5rem;

  /* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

  --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'Public Sans', var(--font-system);
  --font-brand: 'Rubik', var(--font-system);

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;

  /* Gradients */
  --gradient-stop-1: var(--accent-light);
  --gradient-stop-2: var(--accent-regular);
  --gradient-stop-3: var(--accent-dark);
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 150%
  );
  --gradient-accent: linear-gradient(
    150deg,
    var(--gradient-stop-1),
    var(--gradient-stop-2),
    var(--gradient-stop-3)
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-dark)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

  /* Dark Theme Variables
  Colors         */
  --bg-dark: #090b11;
  /* Background Images */
  --top-dark-background__img: url(https://images.pexels.com/photos/7130475/pexels-photo-7130475.jpeg);

  /* Light Theme variables  */
  --top-light-background__img: url(https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

/* Shadows */
--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
  0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
  0px 0px 1px rgba(9, 11, 17, 0.03);
--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
  0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(9, 11, 17, 0.05),
  0px 2px 4px rgba(9, 11, 17, 0.06);
--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
  0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
  0px 4px 9px rgba(9, 11, 17, 0.12);

/* Light Theme Pack*/
[data-theme='light'] {
  background: var(--top-light-background__img);
  transition: transform var(--theme-transition), color var(--theme-transition);
  background-image: contain;
}

/* Dark Theme Pack*/
[data-theme='dark'] {
  background: var(--top-dark-background__img);
  transition: transform var(--theme-transition), color var(--theme-transition);
  background-image: contain;
  color: #ffff;
  fill: #ffff;
}

[data-theme='dark'] ul {
  background: var(--bg-dark);
}

body {
  background-color: var(--gray-999);
  color: var(--gray-200);
  font-family: var(--font-body);
  line-height: 1.5;
  height: 100%;
}

:root.theme-dark {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;
  --gray-999-basis: 225, 31%, 5%;
  --gray-999: #090b11;

  --accent-light: #1c0056;
  --accent-regular: #7611a6;
  --accent-dark: #c561f6;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
  --accent-text-over: var(--gray-0);

  --link-color: var(--accent-dark);

  --gradient-stop-1: #4c11c6;
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 81%
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-light)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

  --shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01),
    0px 4px 2px rgba(255, 255, 255, 0.01), 0px 2px 2px rgba(255, 255, 255, 0.02),
    0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01),
    0px 16px 10px rgba(255, 255, 255, 0.03),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01),
    0px 35px 21px rgba(255, 255, 255, 0.05),
    0px 16px 16px rgba(255, 255, 255, 0.1),
    0px 4px 9px rgba(255, 255, 255, 0.12);
}
