html {
  scroll-behavior: smooth !important;
}

.stack {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.simple-flex {
  display: flex;
  align-items: baseline;
}

.text {
  font-size: var(--text-lg);
}

.header {
  display: flex;
  padding-inline: var(--measure-20);
  font-size: var(--text-xl);
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 0 var(--measure-24);
  font-size: var(--text-xl);
  gap: var(--measure-10);
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.no-margin {
  margin: 0;
}

.content-box {
  position: absolute;
  top: 66%;
  left: 79%;
  width: max-content;
  height: max-content;
}

.background {
  color: var(--gray-200);
  font-family: var(--font-body);
  line-height: 1.5;
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: var(--background__img);
}

.padding-inline-1 {
  padding-inline: var(--padding-inline-1);
}

.pad-top-1 {
  padding-top: var(--measure-24);
}

.start {
  text-align: start;
}

.nav-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  align-items: center;
  margin-bottom: var(--margin-6);
  padding: var(--measure-10) var(--measure-20);
  font-family: var(--font-brand);
  font-weight: 500;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: var(--measure-4);
  line-height: 1.2;
  position: relative;
  flex-direction: row;
  font-size: var(--text-sm);
  border-radius: 999rem;
  border: 0;
  padding: var(--measure-3) var(--shape-xxs);
  background: var(--gradient-stroke);
  box-shadow: inset 0 0 0 1px var(--accent-overlay);
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--measure-20);
}

.aside-layout {
  display: flex;
  align-items: center;
  gap: var(--measure-4);
  background-color: var(--gray-900);
  border-top: 1px solid var(--gray-800);
  border-bottom: 1px solid var(--gray-800);
  box-shadow: var(--shadow-sm);
  padding: var(--measure-24);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--text-lg);
}

.flex-align {
  display: flex;
  align-items: baseline;
}

.simple-row-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--accent-dark);
  box-shadow: var(--shadow-md);
  border-radius: 1.5rem;
  margin: 0 10%;
  padding: var(--measure-10);
  gap: var(--measure-10);
}

.reveal {
  transition: all 1s ease-in-out;
  opacity: 100;
}

.unreveal {
  transition: all 1s ease-in-out;
  opacity: 0;
}

.section-header {
  position: relative;
  font-size: var(--text-lg);
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--measure-24);
}

.about-section {
  display: contents;
}

.footer {
  flex-direction: row;
  justify-content: space-evenly;
  padding: var(--measure-10) var(--measure-20);
  display: flex;
  gap: var(--measure-12);
  margin-top: auto;
  align-items: center;
  text-align: center;
  font-size: var(--text-sm);
  color: var(--accent-dark);
}

.gap-2 {
  gap: var(--measure-2);
}

.gap-4 {
  gap: var(--measure-4);
}

.gap-10 {
  gap: var(--measure-10);
}

.gap-20 {
  gap: var(--measure-20);
}

.gap-48 {
  gap: var(--measure-48);
}

.gap-29 {
  gap: var(--measure-29);
}
