/* Compact Size*/
@media (max-width: 768px) {
  :root {
    --shape-xxs: 0.3rem;
    --shape-xs: 0.8rem;
    --shape-s: 1.3rem;
    --shape-m: 1.7rem;
    --shape-l: 2rem;
    --shape-xl: 5rem;
    --shape-xxl: 17rem;
    --shape-xxxl: 23rem;

    --text-sm: 0.2rem;
    --text-base: 0.675rem;
    --text-md: 0.8rem;
    --text-lg: 1rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.625rem;
    --text-3xl: 2.125rem;
    --text-4xl: 2.625rem;
    --text-5xl: 3rem;

    --measure-1: 0.2rem;
    --measure-2: 0.3rem;
    --measure-3: 0.5rem;
    --measure-4: 0.8rem;
    --measure-10: 1rem;
    --measure-12: 2rem;
    --measure-13: 3rem;
    --measure-20: 4rem;
    --measure-24: 5rem;
    --measure-29: 7rem;
    --measure-48: 9rem;
  }

  .nav-items {
    font-size: var(--shape-s);
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    left: 1px;
    top: 1px;
  }

  .theme-btn-dark::before {
    transform: translateX(83%);
  }

  .fade-stack {
    height: 215px;
  }

  .section-header {
    position: relative;
  }

  .view-all-link {
    position: absolute;
    bottom: -20%;
    left: 68%;
  }

  .carousel-container {
    justify-content: center;
  }

  .carousel-wrapper {
    width: 75%;
    height: 25vh;
  }

  .review-title {
    margin-top: 2rem;
  }

  .work-content {
    align-items: center;
  }

  .aside-layout {
    justify-content: center;
    text-align: center;
    padding: var(--measure-13);
    gap: var(--measure-13);
  }

  .img-about {
    width: 50vw;
  }

  .article {
    padding: 0 2rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer-text {
    font-size: var(--text-base);
  }
}

/* Medium Size */
@media (min-width: 768px) and (max-width: 1030px) {
  .fade-stack {
    height: 250px;
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    left: 2px;
    top: 1px;
  }

  .theme-btn-dark::before {
    transform: translateX(104%);
  }
}

// Expanded Size
@media (min-width: 1030px) {
  .main-header {
    flex-direction: column-reverse;
    gap: 0;
  }

  .main-img {
    min-width: 30vw;
    min-height: 40vh;
  }

  .project-link {
    bottom: -121px !important;
  }

  .box {
    width: 100%;
  }
}

/*Compact & Medium Size */
@media (max-width: 1030px) {
  .header {
    padding-top: var(--measure-12);
  }

  .main-header {
    flex-direction: column-reverse;
    gap: 0;
    padding: 0;
  }

  .main-img {
    width: 40vw;
  }

  .wrapper {
    padding-inline: var(--measure-10);
  }

  .li-card:hover {
    transform: none;
  }

  .li-card,
  .card {
    display: flex;
    justify-content: center;
    width: 85%;
    height: auto;
    transition: 0;
  }

  .img-card {
    aspect-ratio: 7/5;
  }

  .flex-align {
    flex-direction: column;
  }

  .nav-layout {
    min-height: 11vh;
    z-index: 100;
    position: sticky;
    top: 0;
    grid-template-columns: 1fr 1fr;
  }

  .section-header {
    padding-top: 15vh;
  }

  [data-theme='light'] {
    .nav-layout {
      background: var(--gradient-accent-light-blue);
    }
    .hamburger-icon {
      stroke: var(--gray-800);
    }
    .me-link {
      color: var(--gray-800);
    }
  }

  [data-theme='dark'] {
    .nav-layout {
      background: #1c174f;
      opacity: 0.95;
    }
    .hamburger-icon {
      stroke: var(--gray-0);
    }
    .me-link {
      color: var(--gray-0);
    }
  }

  .hamburger-icon_hidden {
    display: hidden;
  }

  .box {
    width: 100%;
    min-height: 50vh;
  }

  .skills {
    min-height: 79vh;
  }

  .nav-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding-bottom: 5rem;
    background: var(--gradient-accent-light-blue);
    color: var(--gray-999);
    box-shadow: var(--shadow-lg);
    border-radius: 1.5rem;
  }

  .fixed {
    position: fixed;
    top: 17px;
    right: 17px;
  }

  .slider-position {
    position: absolute;
    top: 17px;
    right: -126px;
  }

  .link:hover,
  .link.active:hover,
  .link.active {
    background-color: transparent;
    color: var(--gray-200);
  }

  .project-link {
    bottom: -121px;
  }

  .nav-slider .nav-link-li:hover {
    color: var(--gray-200);
  }

  .nav-slider .socials,
  .nav-items {
    gap: var(--shape-s) !important;
    flex-direction: column;
  }

  .nav-slider .social-icon {
    width: var(--measure-12);
    height: var(--measure-12);
    fill: var(--gray-999);
  }

  .text {
    font-size: var(--text-2xl);
  }

  .nav-items {
    font-size: var(--text-2xl);
    padding: var(--measure-10);
    align-items: flex-end;
    background: none;
    box-shadow: none;
  }

  .details {
    flex-direction: column;
  }

  .hero-screen {
    min-height: 86vh;
  }

  .hero-sub-title,
  .big-title {
    text-align: center;
  }

  .hero-text {
    padding-top: 0;
    display: flex;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    row-gap: var(--measure-4);
  }

  .img-about {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Desktop */
@media (orientation: landscape) and (min-width: 1600px) {
  :root {
    --text-sm: 1rem;
    --text-base: 1.75rem;
    --text-md: 2rem;
    --text-lg: 2.25rem;
    --text-xl: 2.5rem;
    --text-2xl: 3.25rem;
    --text-3xl: 4.25rem;
    --text-4xl: 5.25rem;
    --text-5xl: 6rem;

    --shape-xxs: 0.3rem;
    --shape-xs: 0.6rem;
    --shape-s: 2.6rem;
    --shape-m: 3.4rem;
    --shape-l: 4rem;
    --shape-xl: 20rem;
    --shape-xxl: 34rem;
    --shape-xxxl: 46rem;

    --measure-1: 0.2rem;
    --measure-2: 0.7rem;
    --measure-3: 1rem;
    --measure-4: 2rem;
    --measure-10: 3rem;
    --measure-12: 5rem;
    --measure-13: 6rem;
    --measure-20: 8rem;
    --measure-24: 10rem;
    --measure-29: 14rem;
    --measure-48: 18rem;
  }

  a {
    font-size: 1.5rem;
  }

  .footer-link,
  .back-link,
  .article,
  p,
  span {
    font-size: 2rem;
  }

  .nav-items {
    padding: 1rem var(--shape-xxs);
  }

  .link {
    padding: 0.8rem var(--measure-4);
  }

  .theme-icon,
  .menu-btn_closed,
  .menu-btn_opened,
  .icon_active {
    width: 2rem;
    height: 2rem;
  }

  .theme-btn-dark,
  .theme-btn-light {
    padding: 1rem;
    gap: var(--measure-3);
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    width: 3.3rem;
    height: 3.3rem;
    left: 5px;
    top: 5px;
  }

  .theme-btn-dark::before {
    transform: translateX(89%);
  }

  .hero {
    margin-bottom: 0;
  }

  .fade-stack {
    height: 415px;
  }

  .work-content {
    max-width: 90ch;
  }

  .techno-icon_closed,
  .techno-icon_opened {
    width: var(--measure-12);
    height: var(--measure-12);
  }
}

/* 2k*/
@media (orientation: landscape) and (min-width: 2550px) {
  :root {
    --text-sm: 1.75rem;
    --text-base: 2rem;
    --text-md: 2.25rem;
    --text-lg: 2.5rem;
    --text-xl: 3.25rem;
    --text-2xl: 4.25rem;
    --text-3xl: 5.25rem;
    --text-4xl: 7rem;
    --text-5xl: 9rem;

    --shape-xxs: 0.6rem;
    --shape-xs: 2.6rem;
    --shape-s: 3.4rem;
    --shape-m: 4rem;
    --shape-l: 12rem;
    --shape-xl: 34rem;
    --shape-xxl: 46rem;
    --shape-xxxl: 52rem;

    --measure-1: 0.4rem;
    --measure-2: 1rem;
    --measure-3: 1.6rem;
    --measure-4: 2rem;
    --measure-6: 3.5rem;
    --measure-10: 5rem;
    --measure-12: 6rem;
    --measure-13: 8rem;
    --measure-20: 10rem;
    --measure-24: 14rem;
    --measure-29: 18rem;
    --measure-48: 24rem;
  }

  .link {
    font-size: var(--text-lg);
    padding: 1.3rem var(--measure-6);
  }

  .text,
  .me-link,
  .tagline {
    font-size: var(--text-xl);
  }

  .stack-list,
  .footer-link,
  .footer-text,
  .description,
  .article {
    font-size: var(--text-lg);
  }

  .nav-items {
    padding: 2rem var(--shape-xxs);
  }

  .language-btn {
    font-size: 2rem;
  }

  .arrow-icon,
  .stack-arrow-icon {
    width: var(--shape-m);
    height: var(--shape-m);
  }

  .fade-stack {
    height: 500px;
  }

  .send-link,
  .view-all-link,
  .back-link {
    padding: 1.4rem 2.7rem;
    font-size: var(--text-lg);
  }

  .sub-title-2 {
    margin-top: var(--measure-13);
  }

  .main-header {
    margin-bottom: 0;
  }

  .work-content {
    max-width: 140ch;
  }

  .theme-btn-dark,
  .theme-btn-light {
    padding: 1.5rem;
    gap: var(--measure-4);
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    width: 5rem;
    height: 5rem;
    left: 11px;
    top: 10px;
  }

  .theme-btn-dark::before {
    transform: translateX(106%);
  }

  .techno-icon_closed,
  .techno-icon_opened {
    width: var(--measure-13);
    height: var(--measure-13);
  }

  .theme-icon,
  .menu-btn_closed,
  .menu-btn_opened,
  .icon_active {
    width: var(--shape-s);
    height: var(--shape-s);
  }

  .social-icon {
    width: var(--text-3xl);
    height: var(--text-3xl);
  }
}

/*4k*/
@media (orientation: landscape) and (min-width: 3500px) {
  :root {
    --text-sm: 2rem;
    --text-base: 3rem;
    --text-md: 3.5rem;
    --text-lg: 4rem;
    --text-xl: 4.25rem;
    --text-2xl: 5.25rem;
    --text-3xl: 7rem;
    --text-4xl: 9rem;
    --text-5xl: 10rem;

    --shape-xxs: 2.6rem;
    --shape-xs: 3.4rem;
    --shape-s: 4rem;
    --shape-m: 5rem;
    --shape-l: 34rem;
    --shape-xl: 46rem;
    --shape-xxl: 52rem;
    --shape-xxxl: 55rem;

    --measure-1: 1rem;
    --measure-2: 1.6rem;
    --measure-3: 2rem;
    --measure-4: 5rem;
    --measure-10: 6rem;
    --measure-12: 8rem;
    --measure-13: 10rem;
    --measure-20: 11rem;
    --measure-24: 18rem;
    --measure-29: 24rem;
    --measure-48: 28rem;
  }

  .link {
    font-size: var(--text-md);
  }

  .theme-btn-dark,
  .theme-btn-light {
    padding: 1.3rem;
  }

  .theme-btn-dark::before,
  .theme-btn-light::before {
    width: 5.5rem;
    height: 5.5rem;
    left: 8px;
    top: 8px;
  }

  .theme-btn-dark::before {
    transform: translateX(160%);
  }

  .sub-title-3 {
    max-width: fit-content;
  }

  .fade-stack {
    height: 700px;
  }

  .nav-items {
    padding: var(--measure-3) 0.5rem;
  }

  .theme-icon,
  .menu-btn_closed,
  .menu-btn_opened,
  .icon_active {
    width: var(--shape-s);
    height: var(--shape-s);

    a,
    .article,
    p {
      font-size: var(--text-md) !important;
    }
  }
}
